#eventsTodayListView.list-view .list-cell {
     -fx-background-color: #ffc0cb;
     -fx-border-color:  #ffc0cb;
     -fx-text-fill: white;
     -fx-font-size: 30px;
     -fx-font-weight: 100;
     -fx-font-family: Consolas;
}

#settingsPane > .slider {
    -fx-control-inner-background: #133337;
    -fx-color:  #f5cf7b;
}

#visibleNoteLabel {
    -fx-font-family: consolas;
    -fx-font-size: 24px;
}

.chart-pie{
    -fx-border-color: transparent;
    -fx-border-width: 3px;
}
.data0.chart-pie { -fx-pie-color: #ffffff; }
.data1.chart-pie { -fx-pie-color: transparent; }

.list-data-pane{
    -fx-pref-width: 630;
    -fx-pref-height: 300;
}
.list-data-toppane{
    -fx-pref-width: 630;
    -fx-pref-height: 70;

}
.list-data-icon{
    -fx-cursor: hand;
}

/*contacts*/
.contact-pane{
    -fx-background-color: #a966b1;
}
.contact-toppane{
    -fx-background-color: #985b9f;
}
.contact-name{
     -fx-font-size: 24px;
     -fx-font-family: System;
     -fx-pref-width: 400;
}
.contact-email{
    -fx-font-size: 22px;
    -fx-pref-width: 400;
}
.contact-phone{
    -fx-font-size: 22px;
}
.contact-field{
    -fx-padding: 30 30 30 30;
    -fx-font-weight: 100;
    -fx-font-family: Consolas;
    -fx-text-fill: white;
    -fx-background-color: #a966b1;
}

/*notes*/
.note-toppane{
    -fx-background-color: #31d9a0;
}
.note-pane{
    -fx-background-color: white;
}
.note-area{
    -fx-text-box-border: transparent;
    -fx-font-family: Consolas;
    -fx-padding: 20 20 20 20;
    -fx-background-color: transparent;
    -fx-font-weight: 100;
    -fx-font-size: 20px;
    -fx-border-color: transparent;
    -border-width: 0;
    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-pref-width: 630;
    -fx-pref-height: 270;
    -fx-wrap-text: true;
}
.note-toggle{
    -fx-font-weight: 100;
    -fx-font-size: 20px;
    -fx-font-family: Consolas;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-pref-width: 100;
    -fx-pref-height: 70;
}
.note-toggle.toggle-button{
    -fx-background-color: #2cc390;
}
.note-toggle.toggle-button:selected{
    -fx-background-color: #FFC0CB;
}
